/*h1 {
    color:lightsalmon;
}*/

/*body {
    background-color: grey;
}*/

/*.normal-text {
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    color:limegreen;
}*/

/*#abnormal {
    color:rgb(25, 25, 112);
}*/

/*img {
    height: 300px;
}*/

/*.flex-container {
    display: flex;
}*/

/*.SuperNenechi {
    display: flex;
    align-items: center;
    justify-content: center;
}

.spaced {
    margin-right: 20px;
}*/